odoo-addon-agreement_sale @ git+https://github.com/OCA/agreement.git@refs/pull/51/head#subdirectory=agreement_sale
odoo-addon-fieldservice_agreement @ git+https://github.com/OCA/field-service.git@refs/pull/1368/head#subdirectory=fieldservice_agreement
